.header {
  width: 100%;
  height: 5rem;
  background-color: #8a2b06;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display:inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}
.header .logo {
  font-family: "Brush Script MT", sans-serif;
  font-size: 2rem;
  color: white;
  margin: 0;
}
.header .cart{
  padding-left: 52rem;
}
.header .headerDrawer {
  display: none;
  cursor: pointer;
}


@media only screen and (max-width: 700px) {
  .header .headerDrawer {
    display: block;
  }

  .header .headerMain {
    display: none;
  }

  .header .cart{
    padding-left: 0;
  }
}
